/* RESET ////////////////////// */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* UTILITIES ////////////////////// */
.flexbox{
    display: flex;
}

.flexbox-c{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a.button{
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
}

a.white-button{
    background-color: white;
    color: black;
}

a.blue-button{
    background-color: rgb(0, 64, 227);
    color: white;
}

a.gray-button{
    border-color: rgb(135, 135, 135);
    color: rgb(135, 135, 135);
}

/* CONTAINERS ////////////////////// */
.hero-container{
    padding: 90px 17.5% 15px;
    background-color: lightblue;
}

.body-container{
    padding: 0 25%;
}

.examples-container{

}

.footer-container{

}

/* HEADER NAV ////////////////////// */
header{
    min-width: 1045px;
    font-weight: 300;
}

nav{
    justify-content: space-between;
    padding: 15px;
}

nav ul{
    align-items: center;
    list-style: none;
    gap: 40px;
}

nav a{
    color: black;
}

nav li img{
    height: 20px;
}

/* HEADER HERO ////////////////////// */
.hero-container{
    min-width: 1370px;
}

.hero-container p.hero-title{
    font-weight: 800;
    font-size: 5rem;
    padding-bottom: 50px;
}

.hero-container div.herotxt-container{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.hero-container p.text{
    line-height: 1.7rem;
}

.hero-container p.text, .hero-container a.button{
    margin-bottom: 35px;
}

.hero-container p.delete{
    margin-bottom: 70px;
}

.hero-container img{
    width: 60%;
}

.hero-container p.downarrow{
    font-size: 3rem;
}

/* MAIN SECTION #1 ////////////////////// */

main section:first-child{
    padding-top: 80px;
}

main section:first-child > p.title{
    font-weight: 600;
    font-size: 2.5rem;
    padding-bottom: 70px;
}

main section:first-child input{
    vertical-align: baseline;
    display: inline-block;
    margin-bottom: 60px;
}

main section:first-child input:last-of-type{
    margin-left: 50px;
}

main section:first-child div.flexbox{
    height: max-content;
    gap: 5%;
}

main section:first-child div.vertical-box{
    border: 1px solid gray;
    width: 30%;
    font-weight: 300;
    font-size: 0.85rem;
    line-height: 1.4rem;
}

main section:first-child div.vertical-box div.plan{
    padding: 0 25px;
    position: relative;
}


main section:first-child div.vertical-box div.who-are-you{
    padding: 15px 30%;
    text-align: center;
    border-bottom: 1px solid gray;
}

main section:first-child div.vertical-box div.who-are-you img.user,
main section:first-child div.vertical-box div.who-are-you img.group,
main section:first-child div.vertical-box div.who-are-you img.company{
    width: 14%;
    vertical-align: middle;
}

main section:first-child div.vertical-box p.title{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 25px 0;
}

main section:first-child div.vertical-box p.price{
    font-weight: 700;
    font-size: 0.95rem;
    padding-bottom: 10px;
}

main section:first-child div.vertical-box p.time{
    color: gray;
    padding-bottom: 45px;
}

main section:first-child div.vertical-box ul{
    list-style: none;
    gap: 15px;
    padding: 0 20px 45px;
}

main section:first-child div.vertical-box ul li img.user,
main section:first-child div.vertical-box ul li img.directory,
main section:first-child div.vertical-box ul li img.share,
main section:first-child div.vertical-box ul li img.check{
    width: 8%;
    vertical-align: middle;
    position: absolute;
    left: 12px;
}

main section:first-child div.vertical-box a.button{
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

main section:first-child div.vertical-box p.buy-now{
    margin-bottom: 30px;
}

main section:first-child div.vertical-box hr{
    width: 30%;
    margin-bottom: 50px;
}

main section:first-child div.vertical-box p.title2{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 30px;
}