/* RESET ////////////////////// */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* STARTER PACK ////////////////////// */
.flexbox{
    display: flex;
}

.flexbox-c{
    display: flexbox;
    flex-direction: column;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a.button{
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
}

a.white-button{
    background-color: white;
    color: black;
}

a.blue-button{
    background-color: rgb(0, 64, 227);
    color: white;
}

.hero-container{
    padding: 60px 17.5% 15px;
    background-color: lightblue;
}

.body-container{

}

.examples-container{

}

.footer-container{

}

/* HEADER NAV ////////////////////// */
header{
    min-width: 1045px;
    font-weight: 300;
}

nav{
    justify-content: space-between;
    padding: 15px;
}

nav ul{
    align-items: center;
    list-style: none;
    gap: 40px;
}

nav a{
    color: black;
}

nav li img{
    height: 20px;
}

/* HEADER HERO ////////////////////// */
