/* RESET ////////////////////// */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    font-weight: 300;
}

/* UTILITIES ////////////////////// */
.flexbox{
    display: flex;
}

.flexbox-c{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a.button{
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
}

a.white-button{
    background-color: white;
    color: black;
}

a.blue-button{
    background-color: rgb(0, 64, 227);
    color: white;
}

a.gray-button{
    border: 1px solid rgb(135, 135, 135);
    color: rgb(135, 135, 135);
}

p.title1{
    font-size: 2.5rem;
    font-weight: 700;
}

p.title2{
    font-size: 1.5rem;
    font-weight: 700;
}

p.title3{
    font-size: 1rem;
    font-weight: 700;
}

p.price{
    font-size: 0.95rem;
    font-weight: 700;
}

/* CONTAINERS ////////////////////// */
.hero-container{
    padding: 90px 17.5% 15px;
    background-color: lightblue;
}

.body-container{
    padding: 0 25%;
}

.footer-container{
    padding: 90px 17.5%;
    background-color: black;
}

/* HEADER NAV ////////////////////// */
header{
    min-width: 1045px;
    font-weight: 300;
}

nav{
    justify-content: space-between;
    padding: 15px;
}

nav ul{
    align-items: center;
    list-style: none;
    gap: 40px;
}

nav a{
    color: black;
}

nav li img{
    height: 20px;
}

/* HEADER HERO ////////////////////// */
.hero-container{
    min-width: 1370px;
}

.hero-container p.hero-title{
    font-weight: 800;
    font-size: 5rem;
    padding-bottom: 50px;
}

.hero-container div.herotxt-container{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.hero-container p.text{
    line-height: 1.7rem;
}

.hero-container p.text, .hero-container a.button{
    margin-bottom: 35px;
}

.hero-container p.delete{
    margin-bottom: 70px;
}

.hero-container img{
    width: 60%;
}

.hero-container p.downarrow{
    font-size: 3rem;
}

/* MAIN GENERAL ////////////////////// */
main{
    font-weight: 300;
}

/* MAIN SECTION #1 ////////////////////// */
main section:first-child{
    padding-top: 80px;
    font-size: 0.85rem;
}

main section:first-child p.title1{
    min-width: 443px;
    padding-bottom: 70px;
}

main section:first-child div.radio-buttons{
    min-width: 390px;
}

main section:first-child input{
    vertical-align: baseline;
    display: inline-block;
    margin-bottom: 60px;
}

main section:first-child input:last-of-type{
    margin-left: 50px;
}

main section:first-child div.flexbox{
    height: max-content;
    gap: 5%;
}

main section:first-child div.vertical-box{
    
    border: 1px solid gray;
    width: 30%;
    min-width: 193px;
    font-weight: 300;
    line-height: 1.4rem;
}

main section:first-child div.vertical-box div.plan{
    padding: 0 25px;
    position: relative;
}


main section:first-child div.vertical-box div.who-are-you{
    padding: 15px 30%;
    text-align: center;
    border-bottom: 1px solid gray;
}

main section:first-child div.vertical-box div.who-are-you img.user,
main section:first-child div.vertical-box div.who-are-you img.group,
main section:first-child div.vertical-box div.who-are-you img.company{
    width: 14%;
    vertical-align: middle;
}

main section:first-child div.vertical-box p.title2{
    padding: 25px 0;
}

main section:first-child div.vertical-box p.price{
    padding-bottom: 10px;
}

main section:first-child div.vertical-box p.time{
    color: gray;
    padding-bottom: 45px;
}

main section:first-child div.vertical-box ul{
    list-style: none;
    gap: 15px;
    padding: 0 20px 45px;
}

main section:first-child div.vertical-box ul li img.user,
main section:first-child div.vertical-box ul li img.directory,
main section:first-child div.vertical-box ul li img.share,
main section:first-child div.vertical-box ul li img.check{
    width: 8%;
    vertical-align: middle;
    position: absolute;
    left: 12px;
}

main section:first-child div.vertical-box a.button{
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

main section:first-child div.vertical-box p.buy-now{
    margin-bottom: 30px;
}

main section:first-child div.vertical-box hr{
    width: 30%;
    margin-bottom: 50px;
}

main section:first-child div.vertical-box p.title3{
    margin-bottom: 30px;
}

main section:first-child div.horizontal-box{
    margin-top: 48px;
    height: 288px;
    min-width: 645px;
    border: 1px solid gray;
    font-weight: 300;
    line-height: 1.4rem;
}

main section:first-child div.horizontal-box div.who-are-you-h{
    padding: 15px 30%;
    text-align: center;
    border-bottom: 1px solid gray;
}

main section:first-child div.horizontal-box div.who-are-you-h img.user-h{
    width: 4.2%;
    vertical-align: middle;
}

main section:first-child div.horizontal-box div.plan{
    position: relative;
    padding: 0 25px;
}

main section:first-child div.horizontal-box a.button{
    position: absolute;
    top: 15px;
    right: 15px;
}

main section:first-child div.horizontal-box p.title2{
    padding: 25px 0;
}

main section:first-child div.horizontal-box p.price{
    padding-bottom: 60px;
}

/* MAIN SECTION #2 ////////////////////// */
main section:nth-child(2){
    padding-top: 80px;
    height: 500px;
}

main section:nth-child(2) img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    min-width: 491px;
}

main section:nth-child(2) div{
    padding: 45px;
    align-items: flex-start;
    gap: 40px;
    min-width: 336px;
} 

main section:nth-child(2) p.text{
    line-height: 1.4rem;
}

/* MAIN SECTION #3 ////////////////////// */
main section:nth-child(3){
    padding-top: 200px;
    font-size: 0.85rem;
}

main section:nth-child(3) p.title1{
    padding-bottom: 100px;
}

main section:nth-child(3) div.flexbox{
    flex-wrap: wrap;
}

main section:nth-child(3) div.card{
    width: calc(100% / 3);
    min-width: 275px;
    margin-bottom: 20px;
}

main section:nth-child(3) div.img-container img{
    display: block;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}

main section:nth-child(3) div.text-container{
    height: 50%;
    padding: 0 5% 20px;
}

main section:nth-child(3) div.text-container p.title2{
    padding-top: 10px;
}

main section:nth-child(3) div.text-container p.text{
    line-height: 1.4rem;
    padding-top: 30px;
}

/* MAIN SECTION #4 ////////////////////// */
main section:nth-child(4){
    padding-top: 150px;
    padding-bottom: 150px;
}

main section:nth-child(4) p.title1{
    padding-bottom: 60px;
}

main section:nth-child(4) a{
    margin-bottom: 90px;
}

/* MAIN SECTION #5 ////////////////////// */
main section:nth-child(5) aside{
    /* height: 600px;
    width: 600px; */
    height: calc(100vw / 3);
    width: calc(100% / 3);
    flex-wrap: wrap;
}

main section:nth-child(5) aside .square{
    width: 50%;
    height: 50%;
    background-color: red;
}

#A{
background-color: rgb(255, 0, 0);
}

#B{
    background-color: rgb(0, 255, 8);
}

#C{
    background-color: rgb(183, 0, 255);
}

#D{
    background-color: rgb(255, 213, 0);
}

#E{
    background-color: rgb(25, 0, 255);
}

#F{
    background-color: rgb(0, 229, 255);
}

#G{
    background-color: rgb(114, 130, 65);
}

#H{
    background-color: rgb(0, 0, 0);
}

main section:nth-child(5) aside .square img{
    width: 60%;
    margin: auto;
    filter: invert(1);
}

main section:nth-child(5) .text-container{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: antiquewhite;
    padding: 2.85vw 2.85vw 0;
    overflow: auto;
}

main section:nth-child(5) .text-container img{
    margin-bottom: 3.4vw;
    width: 65%;
}

main section:nth-child(5) .text-container hr{
    width: 20%;
    margin-bottom: 3.4vw;
}

main section:nth-child(5) .text-container p.text{
    line-height: 1.7rem;
    /* font-size: 0.9vw; */
    margin-bottom: 4.2vw;
}

/* MAIN SECTION #6 ////////////////////// */
main section:nth-child(6){
    background-color: lightblue;
    margin-bottom: 180px;
}

main section:nth-child(6) div{
    padding-top: 160px;
    padding-bottom: 90px;
    text-align: center;
}

main section:nth-child(6) p.title1{
    color: rgb(106, 68, 114);
    margin-bottom: 70px;
}

/* MAIN SECTION #7 ////////////////////// */
main section:nth-child(7){
    margin-bottom: 130px;
}

main section:nth-child(7) div.start{
    padding: 0px 80px 80px 80px;
    border-bottom: 1px solid black;
    min-width: 410px;
}

main section:nth-child(7) div.flexbox{
    padding: 50px 50px 50px 0;
    border-bottom: 1px solid black;
    justify-content: space-between;
    min-width: 410px;
}

main section:nth-child(7) a{
    color: black;
    font-size: 1.2rem;
}

main section:nth-child(7) a:hover{
    text-decoration: none;
}

/* FOOTER SECTION #1 ////////////////////// */
footer section.links{
    justify-content: space-between;
}
footer ul{
    list-style: none;
    margin-bottom: 100px;
    min-width: 156px;
}

footer ul li:first-child{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 40px;
}

footer li{
    color: white;
    line-height: 1.7rem;
}

footer a{
    color: white;
    font-weight: 300;
}

footer hr.cut{
    color: white;
    width: 20%;
    margin-bottom: 50px;
}

/* FOOTER SECTION #1 ////////////////////// */

footer section.lang img{
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

footer section.lang select{
    background-color: black;
    border: none;
    color: white;
}